<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First HTML page of A1</title>
</head>
<body>
    <center>
        <h1>App1 First Page </h1>
        {% if a > b %}
            <h1>Inside If Block</h1>
            <h1>A is {{a}}</h1>
        {% else %}
            <h1>Inside Else Block</h1>
            <h1>B is {{b}}</h1>
        {% endif %}
    </center>
</body>
</html>